<main class="max-w-6xl mx-auto px-6 py-10 space-y-10">

    <div class="bg-gradient-to-r from-sky-950 via-[#f0dec3] to-sky-950 shadow-xl rounded-2xl text-center p-6 transition hover:scale-[1.02] duration-300 font-sans">
      <h1 class="text-3xl font-bold text-[#274d60] mb-2">{{ title }}</h1>
      <p class="text-stone-700 text-3xl font-semibold">{{ subtitle }}</p>
    </div>


    <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 space-y-4 transition hover:scale-[1.02] duration-300 animate-gradient-to-solid text-center">
      <p class="text-slate-200">
        El artículo "Rice-ResNet" presenta un enfoque innovador para la clasificación y detección de la calidad del arroz utilizando el modelo de red neuronal profunda ResNet. Este modelo se basa en técnicas de transferencia de aprendizaje, aprovechando un modelo preentrenado para adaptarlo a un conjunto de datos específico relacionado con la calidad del arroz. A través de imágenes de granos de arroz, el sistema es capaz de identificar diferentes categorías de calidad y detectar defectos, contribuyendo a mejorar los procesos de selección y comercialización en la industria agrícola.
    </p>

    </div>

    <div class="flex justify-center">
  <embed src="./assets/main.pdf" type="application/pdf"
         class="w-1/2 h-[600px] rounded-2xl shadow-lg" />
</div>





    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">¿Qué aprendimos?</h2>
        <p class="text-slate-200 text-justify">
         Aprendimos sobre la aplicación de redes neuronales profundas, específicamente ResNet, en el ámbito de la clasificación de imágenes. Este enfoque nos permitió comprender cómo las arquitecturas de red pueden ser adaptadas para resolver problemas específicos, como la detección de calidad en productos agrícolas. Además, adquirimos conocimientos sobre técnicas de transferencia de aprendizaje, que facilitan el uso de modelos preentrenados para mejorar la eficiencia y precisión en tareas de clasificación.</p>
      </div>

      <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3]  shadow-xl rounded-2xl p-6 reveal transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">¿Cómo lo aprendimos?</h2>
        <p class="text-slate-200 drop-shadow-md text-justify">
         El aprendizaje se llevó a cabo mediante la revisión del artículo y el análisis de los métodos utilizados en el estudio. Investigamos sobre el funcionamiento de ResNet y su estructura, así como los principios detrás de la transferencia de aprendizaje. Además, complementamos nuestra comprensión con recursos adicionales, como tutoriales y ejemplos prácticos, lo que nos permitió aplicar estos conceptos en proyectos de clasificación de imágenes y profundizar en el uso de herramientas de aprendizaje profundo.</p>
      </div>
    </div>
</main>