<header class="bg-[#f0dec3] flex items-center w-full py-3 box-border mt-0 mb-0">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet"> 
  <div class="max-w-7xl flex justify-between items-center w-full mx-auto">
      <h1 class="ml-0 text-[#274d60] text-3xl tracking-wide mt-0 mb-0 font-bold" style="font-family: 'Playfair Display', serif;">MAYRA</h1>
      <nav>
        <ul class="flex items-center">
          <li><a href="home" class="mx-4 text-[#274d60] text-lg hover:underline" style="font-family: 'Comic Sans MS', cursive, sans-serif;">Sobre Mi</a></li>
          <li><a href="semanas" class="mx-4 text-[#274d60] text-lg hover:underline" style="font-family: 'Comic Sans MS', cursive, sans-serif;">Semanas</a></li>
          <li><a href="reflexion" class="mx-4 text-[#274d60] text-lg hover:underline" style="font-family: 'Comic Sans MS', cursive, sans-serif;">Reflexión Final</a></li>
          <li><a href="bibliografia" class="mx-4 text-[#274d60] text-lg hover:underline" style="font-family: 'Comic Sans MS', cursive, sans-serif;">Bibliografía</a></li>
        </ul>
      </nav>
    </div>
</header>

  