<main class="max-w-6xl mx-auto px-6 py-10 space-y-10">

    <div class="bg-gradient-to-r from-sky-950 via-[#f0dec3] to-sky-950 shadow-xl rounded-2xl text-center p-6 transition hover:scale-[1.02] duration-300 font-sans">
      <h1 class="text-3xl font-bold text-[#274d60] mb-2">{{ title }}</h1>
      <p class="text-stone-700 text-3xl font-semibold">{{ subtitle }}</p>
    </div>


    <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 space-y-4 transition hover:scale-[1.02] duration-300 animate-gradient-to-solid text-center">
      <p class="text-slate-200">
        Se habló sobre las arquitecturas de aplicaciones web, servidores, y herramientas de desarrollo. Se mostró varias secciones que abordan desde la arquitectura cliente-servidor hasta la gestión de nombres de dominio y la configuración de servidores web. También los pasos para la instalación de herramientas como JDK, IntelliJ IDEA y Tomcat, así como el uso de Maven para la gestión de proyectos.
    </p>

    </div>

    <div class="flex justify-center">
    <img src="https://framerusercontent.com/images/jH3E9Fmr6LqYE5HIAFzwaWnlOos.png" 
        alt="Descripción de la imagen"
        class="w-1/2 rounded-2xl shadow-lg hover:scale-105 transition-transform duration-300" />
    </div>




    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">¿Qué aprendimos?</h2>
        <p class="text-slate-200 text-justify">
          Se aprendió sobre las diversas arquitecturas web, incluyendo la arquitectura cliente-servidor clásica, multicapa, y las aplicaciones de una sola página (SPA), así como la arquitectura hexagonal que permite una mejor gestión del software. También se exploraron los tipos de servidores web y su configuración, los diferentes servicios de hosting y sus características, así como el concepto de cloud hosting y cloud computing. Además, se profundizó en la gestión de nombres de dominio, la configuración de servidores web, y se introdujeron herramientas de desarrollo como Maven y Gradle, junto con el funcionamiento de la autenticación basada en tokens.
        </p>
      </div>

      <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3]  shadow-xl rounded-2xl p-6 reveal transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">¿Cómo lo aprendimos?</h2>
        <p class="text-slate-200 drop-shadow-md text-justify">
          Se aprendió a través de una combinación de lectura teórica y práctica, donde el documento proporcionó explicaciones claras y estructuradas sobre cada tema, facilitando la comprensión de conceptos complejos. Se incluyeron guías paso a paso para la instalación de herramientas y la configuración de entornos de desarrollo, lo que permitió aplicar los conocimientos de manera práctica. Además, se proporcionaron ejemplos concretos y referencias a recursos externos, lo que enriqueció el aprendizaje y ayudó a contextualizar la información en escenarios reales.
        </p>
      </div>
    </div>
</main>
