<main class="max-w-6xl mx-auto px-6 py-10 space-y-10">

    <div class="bg-gradient-to-r from-sky-950 via-[#f0dec3] to-sky-950 shadow-xl rounded-2xl text-center p-6 transition hover:scale-[1.02] duration-300 font-sans">
      <h1 class="text-3xl font-bold text-[#274d60] mb-2">{{ title }}</h1>
      <p class="text-stone-700 text-3xl font-semibold">{{ subtitle }}</p>
    </div>


    <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 space-y-4 transition hover:scale-[1.02] duration-300 animate-gradient-to-solid text-center">
      <p class="text-slate-200">
        HTML (HyperText Markup Language) es el lenguaje de marcado fundamental para la creación de páginas web, que permite estructurar y presentar contenido de manera organizada. En su nivel básico, HTML incluye elementos como etiquetas para definir la estructura del documento (html, head, body), formatear texto (p, h1 a h6, strong, em), crear listas (ul, ol), insertar imágenes (img), y enlaces (a). También cubre la creación de tablas (table) y formularios (form), así como el uso de comentarios y etiquetas semánticas (header, footer, main, section, article). En el nivel avanzado, HTML se expande para incluir atributos globales, contenido dinámico mediante templates y slots, elementos multimedia, gráficos con SVG y Canvas, formularios avanzados, y APIs de HTML5 que mejoran la interactividad y la accesibilidad, así como prácticas de SEO para optimizar la visibilidad en motores de búsqueda. En conjunto, estos temas proporcionan una base sólida para el desarrollo web moderno.
      </p>
      <img src="assets/image1.png" alt="" class="max-w-[250px] rounded-full mx-auto">

    </div>

    <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 transition hover:scale-[1.02] duration-300 animate-gradient-to-solid">
      <div class="flex flex-col md:flex-row items-center justify-center gap-6 text-center md:text-left">
        <div>
          <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">Práctica</h2>
          <p class="text-[#f0dec3] font-medium">
            CÓDIGO PRÁCTICA GITHUB <br>
            <a href="https://github.com/mayra122717/PracticaCalificada2a.git" class="underline hover:text-sky-950 transition">Ver Git</a>
          </p>
        </div>
        <img src="assets/perrito.PNG" alt="Perrito" class="max-w-[250px] rounded-2xl">
      </div>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">¿Qué aprendimos?</h2>
        <p class="text-slate-200 text-justify">
            Aprendimos los fundamentos de HTML básico, como la estructura de un documento HTML, el uso de etiquetas esenciales (como html, head, body, h1, p, a, img, etc.) y cómo organizar el contenido en una página web. A nivel avanzado, exploramos el uso de tablas, formularios, etiquetas semánticas (header, nav, section, footer) y la integración con hojas de estilo externas. También conocimos buenas prácticas para escribir código limpio, estructurado y accesible.
        </p>
      </div>

      <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3]  shadow-xl rounded-2xl p-6 reveal transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">¿Cómo lo aprendimos?</h2>
        <p class="text-slate-200 drop-shadow-md text-justify">
          Lo aprendimos mediante una combinación de clases teóricas, ejemplos explicativos y ejercicios prácticos. Escribimos y ejecutamos código HTML directamente en el navegador y en editores como Visual Studio Code, lo que nos permitió ver resultados en tiempo real. Además, reforzamos el aprendizaje con prácticas que incluían estructuras más complejas, formularios interactivos y uso de atributos avanzados, facilitando una comprensión progresiva del lenguaje.
        </p>
      </div>
    </div>
</main>