<main>
    <div class="max-w-7xl  mx-auto ">
        <div>
            <h1 class="text-[#f0dec3] text-3xl text-center mb-4 font-bold" style="font-family: 'Comic Sans MS', cursive, sans-serif;">BIENVENIDOS</h1>
        </div>

        <div class="flex flex-col max-w-full md:flex-row justify-around items-center text-[#9fc9de] py-8">
          <div class="md:w-1/2 md:pr-6 text-left">
            <p class="mb-2 text-5xl">Hola, soy</p>
            <h1 class="text-5xl font-bold mb-2" style="font-family: 'Playfair Display', serif;">MAYRA SHADAY</h1>
            <h1 class="text-5xl font-bold mb-4" style="font-family: 'Playfair Display', serif;">MACURI LÓPEZ</h1>

            <ul class="pl-2 space-y-1">
                <li>🟊 Estudiante de Ingeniería de Sistemas</li>
                <li>🟊 Certificada en: Bizagi Modeler, Power BI, HTML</li>
                <li>🟊 Experta en componentes de computadora y levantamiento de procesos</li>
                <li>🟊 Diseño web responsivo con HTML/CSS para interfaces de procesos</li>
            </ul>
          </div>
          <div class="text-center md:w-1/2">
             <img src="assets/Foto.jpeg"
                  alt="Imagen de Mayra"
                  class="max-w-[200px] rounded-full mx-auto">
          </div>
        </div>
 

          <div class="text-[#9fc9de] text-center py-8">
            <h1 class="text-2xl mb-4 text-[#f0dec3]" style="font-family: 'Comic Sans MS', cursive, sans-serif;">&gt;/&lt; HABILIDADES</h1>
            <div class="flex flex-wrap justify-center gap-6">
               <!-- Ejemplo de una habilidad -->

              <div class="flex flex-wrap gap-4 justify-center">
                @for (skill of skills; track skill.name) {
                  <div class="flex flex-col items-center space-y-2">
                    <svg class="w-24 h-24" viewBox="0 0 36 36">
                      <circle cx="18" cy="18" r="17" stroke="#f0dec3" stroke-width="0.5" fill="none" />
                      <circle cx="18" cy="18" r="15.9155" fill="none" />
                      <circle cx="18" cy="18" r="14.9155" stroke="#f0dec3" stroke-width="0.5" fill="none" />
                      
                      <path 
                        [attr.stroke-dasharray]="skill.percent + ', 100'" 
                        stroke="#f0dec3" 
                        stroke-width="3" 
                        fill="none"
                        d="M18 2.0845 a 15.9155 15.9155 0 1 1 0 31.831 a 15.9155 15.9155 0 1 1 0 -31.831" 
                      />
                      <text x="18" y="20.5" font-size="8" class="font-semibold fill-[#9fc9de]" text-anchor="middle" dominant-baseline="middle">
                        {{ skill.percent }}%
                      </text>
                    </svg>
                    <p class="text-sm font-semibold">{{ skill.name }}</p>
                  </div>
                }
              </div>
            </div>
          </div>
        
          <div class="text-[#f0dec3] text-center py-8">
            <h1 class="text-2xl mb-4 text-[#f0dec3]" style="font-family: 'Comic Sans MS', cursive, sans-serif;" >&gt;/&lt; APTITUDES</h1>
          </div>
          <div class="relative w-full h-[300px]  overflow-hidden rounded text-[#274d60]">
            @for (word of words; track word.text) {
              <span
                class="crazy-word"
                [style.transform]="word.transform"
              >
                {{ word.text }}
              </span>
            }
          </div>
          
          

          <div class="text-[#f0dec3] text-center py-8">
            <h1 class="text-2xl mb-4" style="font-family: 'Comic Sans MS', cursive, sans-serif;" >&gt;/&lt; ESTUDIOS Y EXPERIENCIA</h1>
          
            <div class="mb-6">
              <ul class="flex flex-wrap justify-center gap-4">
                @for (exp of experiences; track exp.name) {
                  <li
                    (click)="selectExperience(exp.name)"
                    class="bg-[#9fc9de] text-[#274d60] px-4 py-2 rounded cursor-pointer hover:bg-[#8bb8d1]"
                    [class.font-bold]="exp.name === selectedExperience"
                  >
                    {{ exp.name }}
                  </li>
                }
              </ul>
            </div>
          
           @if (selectedExperienceData) {
              <div class="max-w-[800px] mx-auto bg-white/10 p-6 rounded text-left">
                <h2 class="text-xl font-semibold mb-2 text-[#f0dec3]">{{ selectedExperienceData.cargo }}</h2>
                <p class="whitespace-pre-line">{{ selectedExperienceData.description }}</p>
              </div>
            }
          </div>
          
          
    </div>
    
    
  </main>
  
  