<main class="max-w-6xl mx-auto px-6 py-10 space-y-10">

    <div class="bg-gradient-to-r from-sky-950 via-[#f0dec3] to-sky-950 shadow-xl rounded-2xl text-center p-6 transition hover:scale-[1.02] duration-300 font-sans">
      <h1 class="text-3xl font-bold text-[#274d60] mb-2">{{ title }}</h1>
      <p class="text-stone-700 text-3xl font-semibold">{{ subtitle }}</p>
    </div>


    <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 space-y-4 transition hover:scale-[1.02] duration-300 animate-gradient-to-solid text-center">
      <p class="text-slate-200">
        Se desarrolló un sistema de login utilizando Node.js y Express para el backend, junto con React para el frontend. La autenticación se maneja a través de tokens JWT (JSON Web Tokens), lo que permite una gestión segura de sesiones. La base de datos utilizada fue PostgreSQL, asegurando una persistencia robusta de los datos de los usuarios. Este sistema permite a los usuarios registrarse, iniciar sesión y gestionar su sesión de manera segura.
    </p>

    </div>

    <div class="flex justify-center">
    <img src="./assets/login.png" 
        alt="Descripción de la imagen"
        class="w-1/2 rounded-2xl shadow-lg hover:scale-105 transition-transform duration-300" />
    </div>




    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">¿Qué aprendimos?</h2>
        <p class="text-slate-200 text-justify">
        Aprendimos sobre la implementación de sistemas de autenticación utilizando tokens, así como la integración entre el frontend y el backend. También profundizamos en el manejo de bases de datos relacionales con PostgreSQL.
        </p>
      </div>

      <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3]  shadow-xl rounded-2xl p-6 reveal transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">¿Cómo lo aprendimos?</h2>
        <p class="text-slate-200 drop-shadow-md text-justify">
          El aprendizaje se realizó a través de la investigación de documentación, tutoriales en línea y la práctica mediante la creación del proyecto. Trabajamos en equipo, lo que facilitó el intercambio de conocimientos y la resolución de problemas.
        </p>
      </div>
    </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">Enlace Frontend</h2>
        <p class="text-slate-200 text-justify">
        https://github.com/mayra122717/Frontend_bd18.git
        </p>
      </div>

      <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3]  shadow-xl rounded-2xl p-6 reveal transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">Enlace Backend</h2>
        <p class="text-slate-200 drop-shadow-md text-justify">
          https://github.com/mayra122717/Backend_bd18.git
        </p>
      </div>
    </div>
</main>