<main class="max-w-6xl mx-auto px-6 py-10 space-y-10">

    <div class="bg-gradient-to-r from-sky-950 via-[#f0dec3] to-sky-950 shadow-xl rounded-2xl text-center p-6 transition hover:scale-[1.02] duration-300 font-sans">
      <h1 class="text-3xl font-bold text-[#274d60] mb-2">{{ title }}</h1>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">Semana 1</h2>
        
        <ul class=" text-justify">
          <li>•	MDN Web Docs - Introducción al Desarrollo Web: https://developer.mozilla.org/es/docs/Learn/Getting_started_with_the_web</li>
          <li>•	W3Schools - Web Development Tutorial: https://www.w3schools.com/whatis/</li>
          <li>•	FreeCodeCamp - Introduction to Web Development: https://www.freecodecamp.org/learn/responsive-web-design/</li>
          <li>•	The Odin Project - Foundations: https://www.theodinproject.com/paths/foundations/courses/foundations</li>
        </ul>
      </div>

      <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">Semana 2</h2>
        
        <ul class=" text-justify">
          <li>•	MDN - Client-Server Overview: https://developer.mozilla.org/en-US/docs/Learn/Server-side/First_steps/Client-Server_overview</li>
          <li>•	Difference Between Frontend and Backend: https://www.geeksforgeeks.org/difference-between-frontend-and-backend/</li>
          <li>•	Full Stack Development Guide: https://www.codecademy.com/resources/blog/what-is-full-stack/</li>
          <li>•	Web Architecture 101: https://engineering.videoblocks.com/web-architecture-101-a3224e126947</li>
        </ul>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">Semana 3</h2>
        
        <ul class=" text-justify">
          <li>•	Emmet Documentation Oficial: https://emmet.io/</li>
          <li>•	Emmet Cheat Sheet: https://docs.emmet.io/cheat-sheet/</li>
          <li>•	VS Code Emmet Guide: https://code.visualstudio.com/docs/editor/emmet</li>
          <li>•	Emmet in Visual Studio Code: https://www.digitalocean.com/community/tutorials/using-emmet-to-speed-up-front-end-web-development</li>
        </ul>
      </div>

      <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">Semana 4</h2>
        
        <ul class=" text-justify">
          <li>•	MDN HTML Basics: https://developer.mozilla.org/es/docs/Learn/Getting_started_with_the_web/HTML_basics</li>
          <li>•	W3Schools HTML Tutorial: https://www.w3schools.com/html/</li>
          <li>•	HTML5 Semantic Elements: https://www.w3schools.com/html/html5_semantic_elements.asp</li>
          <li>•	HTML Forms Guide: https://developer.mozilla.org/en-US/docs/Learn/Forms</li>
        </ul>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">Semana 5</h2>
        
        <ul class=" text-justify">
          <li>•	MDN CSS Basics: https://developer.mozilla.org/es/docs/Learn/Getting_started_with_the_web/CSS_basics</li>
          <li>•	CSS Grid Guide: https://css-tricks.com/snippets/css/complete-guide-grid/</li>
          <li>•	CSS Preprocessors (Sass): https://sass-lang.com/guide</li>
        </ul>
      </div>

      <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">Semana 6</h2>
        
        <ul class=" text-justify">
          <li>•	Bootstrap Components: https://getbootstrap.com/docs/5.3/components/</li>
          <li>•	Tailwind CSS Documentation: https://tailwindcss.com/docs</li>
          <li>•	JavaScript.info - Modern JavaScript Tutorial: https://javascript.info/</li>
          <li>•	W3Schools JavaScript Tutorial: https://www.w3schools.com/js/</li>
        </ul>
      </div>
    </div>
    <div class="bg-gradient-to-br from-sky-950 to-[#f0dec3] shadow-xl rounded-2xl p-6 transition hover:scale-[1.02] duration-300">
        <h2 class="text-2xl font-bold text-[#f0dec3] mb-2">Semana 7</h2>
        
        <ul class=" text-justify">
          <li>•	React Official Documentation: https://react.dev/</li>
          <li>•	Create React App: https://create-react-app.dev/</li>
          <li>•	React Hooks Documentation: https://react.dev/reference/react</li>
        </ul>
      </div>
</main>